<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="SmsIntegration" translate="label" sortOrder="10000">
            <label>SmsIntegration</label>
        </tab>
        <section id="SmsIntegration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>SmsIntegration</label>
            <tab>SmsIntegration</tab>
            <resource>SoftLoft_SmsIntegration::menu</resource>
            <group id="configurable_cron" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>SmsIntegration Settings</label>
                <field id="enabled_sms" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled sms sending</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enabled_logger" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled logger</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="frequency" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>SoftLoft\SmsIntegration\Model\Config\CronConfig</backend_model>
                </field>
                <field id="time" translate="label comment" sortOrder="30" type="time" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Time</label>
                </field>

                <field id="login" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SmsIntegration login</label>
                </field>
                <field id="password" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SmsIntegration password</label>
                </field>
                <field id="max_message_length" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SmsIntegration max text length</label>
                    <validate>validate-number</validate>
                </field>
                <field id="max_count_attempts" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SmsIntegration max count attempts</label>
                    <validate>validate-number</validate>
                </field>
            </group>
        </section>
    </system>
</config>
